.pagination {
    float: right;
    margin-right: 32px;
    margin-top: 8px;
}

.page-item {
    list-style-type: none;
    float: left;
    padding: 4px 8px 4px 8px;
    border-radius: 8px;


    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.page-item-active {
    color: #38B2AC;
}

.page-item-side {
    background-color: #B2F5EA;
}